@model SistemaEscola.Models.Matricula

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>@Html.DisplayNameForModel()</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Matricula" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Turma)
                </label>
                <select name="IdTurma" class="custom-select" >
                    <option value="">Selecione uma Turma</option>
                    @foreach (var turma in ViewBag.turmas)
                    {
                        <option value="@turma.Id">@turma.Sala</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Aluno)
                </label>
                <select name="IdAluno" class="custom-select" >
                    <option value="">Selecione um Aluno</option>
                    @foreach (var aluno in ViewBag.alunos)
                    {
                        <option value="@aluno.Id">@aluno.Nome</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">
                    @Html.DisplayNameFor(model => model.DataMatricula)
                </label>
                <input type="date" name="DataMatricula" class="form-control" placeholder="Digite a data da matricula" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
